
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 14% 96%;
    --foreground: 222 47% 11%;
    
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 215 25% 27%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 210 40% 93%;
    --muted-foreground: 215 16% 45%;
    
    --accent: 166 72% 30%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;
    
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    
    --card: 217 33% 17%;
    --card-foreground: 210 40% 98%;
    
    --popover: 217 33% 17%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 215 25% 27%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    
    --accent: 166 72% 30%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 221 83% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.recharts-default-tooltip {
  @apply !bg-chart-tooltip !border-border !border !p-2 !shadow-lg !rounded-md;
}

.recharts-tooltip-label {
  @apply !text-xs !font-medium !text-foreground !mb-2;
}

.recharts-tooltip-item {
  @apply !text-xs;
}
